body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

/*---------- top-section ---------*/

.top {
    display: flex;
    justify-content: space-evenly;
}

.top-banner {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color: #161616;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    margin-top: 50px;
    margin-right: 139px;
    margin-left: 140px;
    margin-bottom: 130px;
}

.top-image:hover {
    transform: rotate(360deg);
}

.top-banner button {
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 16px 25px;
    background-color: #DD0000;
}

.top-banner a {
    text-decoration: none;
    color: white;
}

.top-info {

    width: 531px;
    height: 424px;
    margin-left: 106px;
    margin-top: 60px;
    margin-bottom: 121px;
}

.top-image {

    margin-top: 33px;
    margin-left: 24px;
    margin-right: 79px;
    margin-bottom: -5.5px;
    transition: transform 2s ease-out;
}

.top-image img {
    width: 581px;
    height: 613px;
}

/* ---------
.........main section........
------------------- */
.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 800px;
    margin-bottom: 100px;
}

/* ----Side-section----- */

.side-section {
    background-color: #161616;
    width: 312px;
    height: 312px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 10px;



}

.side-section button:hover {
    background-color: chartreuse;
}

.side-section button {
    border: none;
    border-radius: 10px;
    width: 252px;
    height: 60px;
    margin: 30px 30px;

}

#first-button {
    margin-bottom: 0px;
    background-color: rgb(249, 32, 69);
    color: white;
}


#for-blog {
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

#for-blog a {
    text-decoration: none;
    color: black;
}



/* ---------schedule section------ */

.schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    grid-column-gap: 12px;
    grid-row-gap: 24px;
    margin-left: -60px;
}

.schedule p {
    font-size: 16px;
    color: #4D4D4D;
}

.match-box {
    width: 312px;
    height: 242px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-time {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* -----------footer section--------- */

footer {
    background-color: #161616;
    color: white;
    padding-bottom: 50px;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

.footer-heading {
    font-size: 40px;
    padding-top: 130px;
}

hr {

    border: 0.5px solid lightgray;
    margin-left: 140px;
    margin-right: 140px;
}

footer nav {
    margin-left: 351px;
    margin-right: 351px;
    margin-bottom: 80px;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 20px;
    justify-content: space-evenly;
    column-gap: 0.5em;
}

.fa-brands:before {
    color: white;
}