body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-weight: 700;
    font-size: 70px;

}

/*---------- top-section ---------*/

.top {
    display: flex;
    justify-content: space-evenly;
}

.top-banner {

    display: flex;
    justify-content: space-between;
    background-color: #161616;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    margin-right: 5rem;
    margin-left: 5rem;
    max-width: 1321px;
}

.top-image:hover {
    transform: rotate(360deg);
}

.top-banner button {
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5rem;
    padding: 16px 25px;
    background-color: #DD0000;
}

.top-banner a {
    text-decoration: none;
    color: white;
}

.top-info {
    width: 50%;
    /* width: 531px;
    height: 424px;
    margin-left: 106px;
    margin-top: 60px;
    margin-bottom: 121px; */
}

.top-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-top: 33px;
    margin-left: 24px;
    margin-right: 79px;
    margin-bottom: -5.5px; */
    transition: transform 2s ease-out;
}

.top-image img {
    max-width: 100%;
    width: 431px;
    height: auto;
}

/* ---------
.........main section........
------------------- */
.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 800px;
    margin-bottom: 100px;
}

/* ----Side-section----- */

.side-section {
    background-color: #161616;
    width: 312px;
    height: 312px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 10px;
}

.side-section button {
    border: none;
    border-radius: 10px;
    width: 252px;
    height: 60px;
    margin: 30px 30px;
}

#first-button {
    margin-bottom: 0px;
}

#first-button a {
    text-decoration: none;
    color: black;
}

#for-blog {
    background-color: #DD0000;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}


/* ---------blog section------ */

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    grid-column-gap: 12px;
    grid-row-gap: 24px;
    margin-left: -60px;
}

.transfer {
    width: 312px;
    height: 362px;
    border: 1px solid lightgrey;
    border-radius: 12px;


}

.transfer-info {
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.image {
    width: 100%;
}

.time-and-comment {
    width: 143px;
    height: 26px;
    color:
        #4D4D4D
}

.time-and-comment,
.time,
.comment {
    display: flex;
    justify-content: space-between;
}

/* -------view button-------- */

.view-all {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.view-button {
    display: none;
    background-color: #DD0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

/* -----------footer section--------- */

footer {
    background-color: #161616;
    color: white;
    padding-bottom: 50px;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

.footer-heading {
    font-size: 40px;
    padding-top: 130px;
}

hr {

    border: 0.5px solid lightgray;
    margin-left: 140px;
    margin-right: 140px;
}

footer nav {
    margin-left: 351px;
    margin-right: 351px;
    margin-bottom: 130px;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 20px;
    justify-content: space-evenly;
    column-gap: 0.5em;
}

/* -------media query---------- */

/* ..........for mobile devices......... */

@media only screen and (min-width:688px) and (max-width:992px) {

    .top-banner {
        max-height: 646px;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem;
        background-color: #161616;
        color: #FFFFFF;
        border: none;
        border-radius: 30px;
        margin-right: 5rem;
        margin-left: 5rem;
        max-width: 992px;
    }

    .top-image img {
        max-width: 100%;
        width: 320px;
        height: auto;
    }

    .side-section {
        display: flex;
        flex-direction: row;
        background-color: white;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
}